@page "/"

@using BlazorWebAppLakeOfKnowledge04012025.Services
@inject UserService UserService



<!-- Body Section -->
<main style="padding: 20px; min-height: 400px; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;" dir="rtl">


    <h4>ברוך הבא, @UserService.userName</h4>
    <p> הינך מחובר/ת כעת כ : @UserService.role</p>

    <h2 class="welcome-title">ברוכים הבאים לאגם הידע – לימודים לפסיכומטרי</h2>

<p class="welcome-description">
    הדרך שלך להצלחה בפסיכומטרי מתחילה כאן!  
    קורסים מותאמים אישית, ליווי צמוד ושיטות הוראה מתקדמות שיעזרו לך להגיע לציון החלומות שלך.
</p>

<div class="welcome-button-container">
    <button class="register-button" onclick="location.href='/register-choose'">
        להרשמה - לחץ כאן
    </button>
</div>

</main>
