@page "/admin-users-management"
@using BlazorWebAppLakeOfKnowledge04012025.Services
@inject UserService UserService

<div class="container">
  
    <!-- Body Section -->
    <main class="main-content">
        <h4>ברוך הבא, @UserService.userName</h4>
        <p>הינך מחובר/ת כעת כ: @UserService.role</p>

        <h3>ניהול משתמשים</h3>

        <!-- Buttons for Viewing Users -->
        <div class="user-management-buttons">
            <a href="/admin-student-details" class="management-button students-button">
                צפיה בפרטי סטודנטים
            </a>

            <a href="/admin-guide-details" class="management-button guides-button">
                צפיה בנתוני מדריכים
            </a>

            <a href="/admin-show-specific-student-details" class="management-button specific-student-button">
                צפיה בנתוני סטודנט ספציפי
            </a>
        </div>
    </main>


</div>
