@page "/student-main-page"


@using BlazorWebAppLakeOfKnowledge04012025.Services
@inject UserService UserService

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "StudentOnly")]

<!-- Body Section -->
<main style="padding: 20px; min-height: 400px; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;" dir="rtl">

    <div style="display: flex; flex-direction: column; gap: 20px;">
        <h4>ברוך הבא, @UserService.userName</h4>
        <p> הינך מחובר/ת כעת כ : @UserService.role</p>
        
        <!-- Personal Data -->
        <button style="width: 300px; height: 60px; background-color: #d9e8fb; border: none; border-radius: 10px; color: black; font-size: 18px; cursor: pointer;">
            צפייה בנתונים אישיים
        </button>

        <!-- Custom Practice -->
        <button style="width: 300px; height: 60px; background-color: #e8d9fb; border: none; border-radius: 10px; color: black; font-size: 18px; cursor: pointer;">
            תרגול מותאם אישית
        </button>

        <!-- Full Exams -->
        <button style="width: 300px; height: 60px; background-color: #fbd9d9; border: none; border-radius: 10px; color: black; font-size: 18px; cursor: pointer;">
            מבחנים מלאים
        </button>

        <!-- Exam Schedule -->
        <button style="width: 300px; height: 60px; background-color: #d9fbd9; border: none; border-radius: 10px; color: black; font-size: 18px; cursor: pointer;">
            צפייה בלוח מבחנים
        </button>
    </div>
</main>
